{
  "auxiliaryCommentBefore": "istanbul ignore next",
  "optional": [
    "bluebirdCoroutines"
  ],
  "blacklist": [
    "es6.forOf",
    "es6.constants",
    "es6.blockScoping",
    "es6.templateLiterals"
  ]
}
